@media (max-width:767px){
.page-footer {
    background-color: $background-color_3;
    width: 100%;

    &__address {
        p {
            &:hover {
                color: $color_2;
            }
    
            &:focus {
                color: $color_2;
            }
    
            @include font-style(14px, 400, 0.03em, 171%);
        }
    }
    &__container {
        width: 100%;
        @include flex(row);
        flex-wrap: wrap;
        align-items: center;
    }
    &__logo {
        margin: 0;
        font-family: $font-family_2;
        @include font-style(26px, 1, 0.03em, 119%);

        &-blue {
            color: $color_2;
        }
        &-white {
            color: $color_3;
        }
        &-link {
            transition: $default-transition;
        }
    }
    &__contact {
        width: 100%;
        padding-top: 60px;
        @include flex(column);
        justify-content: center;
        align-items: center;
    }
    &__middle {
        @include flex(column);
        align-items: center;
        width: 100%;


        &-title {
            @include font-style(14px, 700, 0.03em, 1);
            color: $color_5;
            margin: 0;
        }
    }
    &__right {
        width: 100%;
        margin: 60px 0;
    }
    &__socials{
        
        &-list {
            padding-left: 0;
            @include flex(row);
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 0;
        }
        &-item {
            width: 44px;
            height: 44px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff1a;
            border-radius: 50%;
            transition: $default-transition;
        
            &:first-child {
                margin-left: 0;
            }
        
            &:hover {
                background: $background-color_2;
                border-radius: 50%;
            }
        
            &:focus {
                background: $background-color_2;
                border-radius: 50%;
            }
        }
        &-vector {
            fill: $svg-color_3;
        }
    }
}
.form-footer{
    width: 100%;

    &__label {
        @include font-style(14px, 700, 0.03em, 1);
        color: $color_5;
        margin: 0 20%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__vector {
        fill: $svg-color_3;
        margin-left: 24px;
    }
    &__button {
        width: 200px;
        height: 50px;
        background: $background-color_2;
        box-shadow: $shadow_1 $shadow-color_1;
        border-radius: 4px;
        color: $color_5;
        @include font-style(16px, 700, 0, 188%);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        justify-content: center;
    }
    &__input {
        border: $default-border $border-color_6;
        filter: drop-shadow($shadow_1 $shadow-color_1);
        border-radius: 4px;
        background: $background-color_3;
        width: 95%;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 15px;
        color: $color_5;
    }
}}
@media (1199px>=width>=768px){
.page-footer {
    background-color: $background-color_3;
    width: 100%;

    &__address {
        p {
            &:hover {
                color: $color_2;
            }

            &:focus {
                color: $color_2;
            }

            @include font-style(14px, 400, 0.03em, 171%);
        }
        @include flex(column);
        align-items: center;
    }

    &__container {
        width: 100%;
        @include flex(row);
        flex-wrap: wrap;
    }

    &__logo {
        margin: 0;
        font-family: $font-family_2;
        @include font-style(26px, 1, 0.03em, 119%);

        &-blue {
            color: $color_2;
        }

        &-white {
            color: $color_3;
        }

        &-link {
            width: 145px;
            height: 31px;
            transition: $default-transition;
        }
    }

    &__contact {
        width: 50%;
        padding-top: 60px;
        @include flex(column);
        align-items: center;
    }

    &__middle {
        width: 50%;
        height: 20%;
        padding-top: 72px;
        @include flex(column);
        align-items: center;

        &-title {
            @include font-style(14px, 700, 0.03em, 1);
            color: $color_5;
            margin: 0;
        }
    }

    &__right {
        width: 100%;
        padding: 20px 0 50px 0;
        @include flex(column);
        align-items: center;
    }

    &__socials {

        &-list {
            padding-left: 0;
            @include flex(row);
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 0;
        }

        &-item {
            width: 44px;
            height: 44px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff1a;
            border-radius: 50%;
            transition: $default-transition;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                background: $background-color_2;
                border-radius: 50%;
            }

            &:focus {
                background: $background-color_2;
                border-radius: 50%;
            }
        }

        &-vector {
            fill: $svg-color_3;
        }
    }
}
.form-footer {

    &__label {
        @include font-style(14px, 700, 0.03em, 1);
        color: $color_5;
        margin: 0;
        @include flex(column);
        align-items: center;
    }

    &__vector {
        fill: $svg-color_3;
        margin-left: 24px;
    }

    &__button {
        width: 200px;
        height: 50px;
        background: $background-color_2;
        box-shadow: $shadow_1 $shadow-color_1;
        border-radius: 4px;
        color: $color_5;
        @include font-style(16px, 700, 0, 188%);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        @include flex(column);
        align-items: center;
        margin-top: 20px;
    }

    &__input {
        border: $default-border $border-color_6;
        filter: drop-shadow($shadow_1 $shadow-color_1);
        border-radius: 4px;
        background: $background-color_3;
        width: 450px;
        height: 50px;
        padding-left: 15px;
        margin-right: 12px;
        margin-bottom: 20px;
        color: $color_5;
    }
}}
@media (min-width:1200px){
.page-footer {
    background-color: $background-color_3;
    width: 100%;
    padding: 72px 0px;
    display: flex;
    align-self: center;

    &__address {
        p {
            &:hover {
                color: $color_2;
            }

            &:focus {
                color: $color_2;
            }

            @include font-style(14px, 400, 0.03em, 171%);
        }
    }

    &__container {
        width: 100%;
        @include flex(row);
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin: 0;
        font-family: $font-family_2;
        @include font-style(26px, 1, 0.03em, 119%);

        &-blue {
            color: $color_2;
        }

        &-white {
            color: $color_3;
        }

        &-link {
            width: 145px;
            height: 31px;
            transition: $default-transition;
        }
    }

    &__contact {
        margin: 0px 3%;
    }

    &__middle {

        &-title {
            @include font-style(14px, 700, 0.03em, 1);
            color: $color_5;
            margin: 0;
        }
    }

    &__right {
        margin: 0px 3%;
    }

    &__socials {

        &-list {
            padding-left: 0;
            @include flex(row);
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 0;
        }

        &-item {
            width: 44px;
            height: 44px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff1a;
            border-radius: 50%;
            transition: $default-transition;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                background: $background-color_2;
                border-radius: 50%;
            }

            &:focus {
                background: $background-color_2;
                border-radius: 50%;
            }
        }

        &-vector {
            fill: $svg-color_3;
        }
    }
}
.form-footer {

    &__label {
        @include font-style(14px, 700, 0.03em, 1);
        color: $color_5;
        margin: 0;
    }

    &__vector {
        fill: $svg-color_3;
        margin-left: 24px;
    }

    &__button {
        width: 200px;
        height: 50px;
        background: $background-color_2;
        box-shadow: $shadow_1 $shadow-color_1;
        border-radius: 4px;
        color: $color_5;
        @include font-style(16px, 700, 0, 188%);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        display: flex;
        margin-top: 20px;
    }

    &__input {
        border: $default-border $border-color_6;
        filter: drop-shadow($shadow_1 $shadow-color_1);
        border-radius: 4px;
        background: $background-color_3;
        width: 358px;
        height: 50px;
        padding-left: 15px;
        margin-right: 12px;
        color: $color_5;
    }
}}