@media (max-width:480px){
.main-content {
        width: 100%;

        &__order {
            background-color: $background-color_3;
            display: flex;
            justify-content: center;
            padding: 110px 0px;
            background-image: url('../images/team-work.png');
            background-repeat: no-repeat;
            background-position: 50% 0%;
            box-shadow: inset 100% 100% #2f303a66;
            background-size: cover;
            height: 400px;

            h1 {
                text-align: center;
                @include font-style(26px, 700, 0.06em, 42px);
                text-transform: uppercase;
            }

            &_items {
                width: 100%;
                @include flex(column);
                justify-content: center;
                align-items: center;
                padding-left: 0;
            }

            &_item {
                width: 100%;
                display: flex;
                justify-content: center;
                &_button {
                    background-color: $background-color_2;
                    color: $color_5;
                    box-shadow: $shadow_1 $shadow-color_1;
                    border-radius: 4px;
                    @include font-style(16px, 700, 0.06em, 188%);
                    text-align: center;
                    padding: 10px 41px;
                }

                &--white-text {
                    color: $color_5;
                }
            }
        }

        &__team {
            background-color: $background-color_4;
            display: flex;
            justify-content: center;
            padding: 20% 0;
        }

        &__clients {
            display: flex;
            align-items: center;
            text-align: center;
            margin: 20% 0;
        }

        &_main-container {
            margin: 0;
            @include flex(column);
            justify-content: center;
            align-items: center;
        }
}}
@media (min-width:481px) {
    .main-content {
        width: 100%;

        &__order {
            background-color: $background-color_3;
            display: flex;
            justify-content: center;
            background-image: url('../images/team-work.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            box-shadow: inset 1600px 600px rgba(47, 48, 58, 40%);
            background-size: cover;
            padding-top: 90px;
            height:400px;

            h1 {
                text-align: center;
                @include font-style(26px, 700, 6%, 42px);
                text-transform: uppercase;
            }

            &_items {
                @include flex(column);
                justify-content: center;
                align-items: center;
                padding-left: 0;
            }

            &_item {
                &_button {
                    background-color: $background-color_2;
                    color: $color_5;
                    box-shadow: $shadow_1 $shadow-color_1;
                    border-radius: 4px;
                    @include font-style(16px, 700, 0.06em, 188%);
                    text-align: center;
                    padding: 10px 41px;
                }

                &--white-text {
                    color: $color_5;
                }
            }
        }

        &__team {
            background-color: $background-color_4;
            display: flex;
            justify-content: center;
            @include default-padding;
        }

        &__clients {
            @include flex(column);
            align-items: center;
            text-align: center;
            @include default-padding;
        }

        &_main-container {
            margin: 0;
            @include flex(column);
            justify-content: center;
            align-items: center;
        }
    }
}
@media (min-width:769px) {
.main-content {
        width: 100%;

        &__order {
            background-color: $background-color_3;
            display: flex;
            justify-content: center;
            padding: 170px 0px;
            background-image: url(../images/team-work.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            box-shadow: inset 1600px 600px rgba(47, 48, 58, 40%);
            background-size: contain;
            min-width: 1600px;
            height:600px;
            @include default-width;

            h1 {
                text-align: center;
                @include font-style(44px, 900, 0.06em, 136%);
                text-transform: uppercase;
            }

            &_items {
                @include flex(column);
                justify-content: center;
                align-items: center;
                padding-left: 0;
            }

            &_item {
                &_button {
                    background-color: $background-color_2;
                    color: $color_5;
                    box-shadow: $shadow_1 $shadow-color_1;
                    border-radius: 4px;
                    @include font-style(16px, 700, 0.06em, 188%);
                    text-align: center;
                    padding: 10px 41px;
                }

                &--white-text {
                    color: $color_5;
                }
            }
        }

        &__team {
            background-color: $background-color_4;
            display: flex;
            justify-content: center;
            @include default-padding;
        }

        &__clients {
            @include flex(column);
            align-items: center;
            text-align: center;
            @include default-padding;
        }

        &_main-container {
            margin: 0;
            @include flex(column);
            justify-content: center;
            align-items: center;
        }
    }
}