@media (max-width:767px){
.main-content {
        width: 100%;

        &__order {
            background-color: $background-color_3;
            display: flex;
            justify-content: center;
            padding: 110px 0px;
            background-image: url('../images/team-work.png');
            background-repeat: no-repeat;
            background-position: 50% 0%;
            box-shadow: inset 100% 100% #2f303a66;
            background-size: cover;
            height: 400px;

            h1 {
                text-align: center;
                @include font-style(26px, 700, 0.06em, 42px);
                text-transform: uppercase;
            }

            &_items {
                width: 100%;
                @include flex(column);
                justify-content: center;
                align-items: center;
                padding-left: 0;
            }

            &_item {
                width: 100%;
                display: flex;
                justify-content: center;
                &_button {
                    background-color: $background-color_2;
                    color: $color_5;
                    box-shadow: $shadow_1 $shadow-color_1;
                    border-radius: 4px;
                    @include font-style(16px, 700, 0.06em, 188%);
                    text-align: center;
                    padding: 10px 41px;
                }

                &--white-text {
                    color: $color_5;
                }
            }
        }

        &__team {
            background-color: $background-color_4;
            display: flex;
            justify-content: center;
            padding: 20% 0;
        }

        &__clients {
            display: flex;
            align-items: center;
            text-align: center;
            margin: 20% 0;
        }

        &_main-container {
            margin: 0;
            @include flex(column);
            justify-content: center;
            align-items: center;
        }
}}
@media (1199px>=width>=768px) {
    .main-content {
        width: 100%;
        @include flex(column);
            justify-content: center;
            align-items: center;

        &__order {
            background-color: $background-color_3;
                display: flex;
                justify-content: center;
                padding: 10vw 0px;
                background-image: url(../images/team-work.png);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                box-shadow: inset 10000px 6000px rgba(47, 48, 58, 40%);
                background-size: cover;
                min-width: 600px;
                height: 400px;
                width: 100%;

            h1 {
                text-align: center;
                @include font-style(26px, 700, 6%, 42px);
                text-transform: uppercase;
            }

            &_items {
                @include flex(column);
                justify-content: center;
                align-items: center;
                padding-left: 0;
            }

            &_item {
                &_button {
                    background-color: $background-color_2;
                    color: $color_5;
                    box-shadow: $shadow_1 $shadow-color_1;
                    border-radius: 4px;
                    @include font-style(16px, 700, 0.06em, 188%);
                    text-align: center;
                    padding: 10px 41px;
                }

                &--white-text {
                    color: $color_5;
                }
            }
        }

        &__team {
            background-color: $background-color_4;
            display: flex;
            justify-content: center;
            @include default-padding;
        }

        &__clients {
            @include flex(column);
            align-items: center;
            text-align: center;
            @include default-padding;
        }

        &_main-container {
            margin: 0;
            @include flex(column);
            justify-content: center;
            align-items: center;
        }
    }
}
@media (min-width:1200px) {
.main-content {
        width: 100%;
        @include flex(column);
        justify-content: center;
        align-items: center;

        &__order {
            background-color: $background-color_3;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../images/team-work.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            box-shadow: inset 10000px 6000px rgba(47, 48, 58, 40%);
            background-size: cover;
            min-width: 600px;
            height: 600px;
            width: 100%;
            max-width: 1200px;
            display: flex;
            justify-content: center;

            h1 {
                text-align: center;
                @include font-style(3em, 900, 0.06em, 136%);
                text-transform: uppercase;
            }

            &_items {
                @include flex(column);
                justify-content: center;
                align-items: center;
                padding-left: 0;
            }

            &_item {
                &_button {
                    background-color: $background-color_2;
                    color: $color_5;
                    box-shadow: $shadow_1 $shadow-color_1;
                    border-radius: 4px;
                    @include font-style(1em, 700, 0.06em, 188%);
                    text-align: center;
                    padding: 10px 41px;
                }

                &--white-text {
                    color: $color_5;
                }
            }
        }

        &__team {
            background-color: $background-color_4;
            @include default-padding;
            width: 100%;
            max-width: 1200px;
        }

        &__clients {
            @include flex(column);
            align-items: center;
            text-align: center;
            @include default-padding;
        }

        &_main-container {
            margin: 0;
            @include flex(column);
            justify-content: center;
            align-items: center;
        }
    }
}